<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/create.css">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <h4><a href="/">KhataBook</a></h4>
        </div>
        <div class="right">
            <a href="/">Home</a>
        </div>
    </div>

    <form action="/create" method="post" id="form" class="form">
        <div class="hisaab-heading">
            <h3>Create your hisaab for date</h3>
        </div>
        <div class="form-content">
            <input type="text" name="title"  placeholder="Shoping Hisaab , Ghar Ka Kharch" class="title-box">
            <textarea name="hisaab" id="text-area"></textarea>
            <div class="chack-boxes">
                <div class="upper-check-box">
                    <div class="ucb"><input type="checkbox" name="encrypt" value="true" id=""><p>Encrypt this file</p></div>
                    <div class="ucb"><input type="checkbox" name="share" value="true" id=""><p>Shareable file ?</p></div>
                </div>
                <div class="lower-check-box">
                    <input type="password" name="password"   id="" placeholder="passcode" class="passcode">
                    <div class="ucb"><input type="checkbox" name="edit" value="true" id=""><p>Edit Permissions</p></div>
                </div>
            </div>
            <button class="btn-1" type="submit">Create Hisaab</button>
        </div>
    </form>
</body>

    <!-- <script src="./JS/create.js"></script> -->

</html>