*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40vw;
    margin-top: 10px;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.logo  h4{
    font-size: 2vw;
    font-weight: 100;
    cursor: pointer;
    color: #000;
}

.nav-bar .right{
    display: flex;
    gap: 3vw;
}

.nav-bar .right a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}




.form{
    margin-left: 9vw;
    margin-top: 5vh;
}


.form .hisaab-heading{
    font-size: 20px;
}

.form-content{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.title-box{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 6vh;
    font-size: 18px;
}

.form-content #text-area{
    height: 40vh;
    border: 2px solid gray;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    padding: 2px 10px 2px 10px;
}

.form-content .btn-1{
    margin-top: 2vh;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(0, 136, 255);
    font-size: 20px;
}


.chack-boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.upper-check-box{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.ucb{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lower-check-box{
    width: 30.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-check-box .passcode{
    padding:5px;
    font-size: 15px;
}